@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@500&display=swap');
*{
  font-family: 'lato';
  padding: 0;
  margin: 0;
}
#oopss {
    background: url(../img/fondo.jpeg);
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    position:absolute;
    width: 100%;
    height: 100%;
    line-height: 1.5em;
    z-index: 9999;
    left: 0px;
}

#error-text {
  top: 35%;
  position: relative;
  font-size: 50px;
  color: whitesmoke;
}

#error-text a {
  color: whitesmoke;
}

#error-text a:hover {
  color: #ffd653;
}

#error-text p {
  color: #f2f8f4;
   margin: 100px 0 0 0;
   -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: rgb(5, 5, 5)
}

#error-text i {
  margin-left: 10px;
}

#error-text p.btn { 
  margin: 100px 0 0 0;
}

#error-text span {
  position: relative;
  background: #ffd653;
  color: whitesmoke;
  font-size: 300%;
  padding: 0 20px;
  border-radius: 20px;
  font-weight: bolder;
  transition: all .5s;
  cursor: pointer;
  margin: 0 0 40px 0;

}

.card {
  border: none;

}


.logo {
  border-radius: 50%;
}

/* CSS Error Page Responsive */

@media only screen and (max-width:640px) {
  #error-text span {
    font-size: 200%;
  }
  #error-text a:hover {
    color: whitesmoke
  }
}

.back:active {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  transform: scale(0.95);
  background: #ffd653;
  color:whitesmoke
}

.back:hover {
  background: whitesmoke;
  color: #ffd653;
}

.back {
  text-decoration: none;
  background: #ffd653;
  color: whitesmoke;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  transition: all 0.5s ease-out;
}