
.card {
    border: none;
}

.logo {
    border-radius: 50%;
}

@media all and (min-width: 360px) and (max-width: 740px) {
    .baner {
        height: 280px;
        object-fit: cover;
        
    }

}