.card {
    border: none;

}


.logo {
    border-radius: 50%;
}

.fotoperfil{
    text-align: center;
}

.fotoperfil-img{
    width: 175px;
    height:175px;
    object-fit: cover;
    border-radius: 100px;
}



@media all and (min-width: 360px) and (max-width: 740px) {
    .baner {
        height: 110%;
        object-fit: cover;
        
    }

    #bannerFinal {
        height: 100%;
        object-fit: cover;
    }

}

